h2[id], p[id] {
    background-color: aquamarine;
}

a[href="#"] {
    background-color: blueviolet;
}

/*ola ta class elements pou 3ekinane me info */
*[class^="info"] {
    color: green;
}

/*ola ta class elements pou periexoyn to text */
*[class*="text"] {
    background-color: burlywood;
}

/*ola ta class elements pou teliwnoyn me to title */
h2[class$="title"]{
    font-style: italic;
}
